
module_name => 'Win32::CommandLine'
dist_author => 'Roy Ivy III <rivy[at]cpan[dot]org>'
license 	=> 'perl'

#
#
lib_path => 'lib/' . join( q{\\}, split( /::/xms, ( $config{'module_name'} =~ m/(.*)::.*?$/xms ? $1 : q{} ) ) )		# relative path to the modules lib location (using standard Module::Builder rules)
#
#

#requires => { ModuleX, %{$config{'requires'}}, }
recommends => { 'Win32' => 0, 'Win32::Security::SID' => 0, 'Win32::TieRegistry' => 0, %{$config{'recommends'}}, }
build_requires_href => { 'Sub::Override' => 0, %{$config{'build_requires_href'}}, }

# TODO: think about changing this... need Module::Signature and 'gpg' or Crypt::OpenPGP; and... 
#		...do I want default to be signing for people who build this...; probably so b/s they will just build/install not 'build dist'
#sign => 0
sign => 'true'
#recursive_test_files = 'true'

#create_readme => 'true'					# create README from module pod
#create_makefile_pl => 'passthrough',	# passthrough Makefile.PL (will download/install Module::Build from CPAN if missing)

#PL_files_href       => {}				# Perl scripts to run in the preprocessing phase (usually generate other files from templates (see Module::Build::API docmentation under "PL_files")

#??? remove addition of 'MANIFEST'
add_to_cleanup_aref => [ 'MANIFEST', 'Makefile.PL', 'META.yml', @{$config{'add_to_cleanup_aref'}} ]

assert_os_aref => [ 'MSWin32' ]

#c_source => 'c'

#:some examples
#script_files_aref	=> [ map { glob } qw{ scripts/* } ]		# specify all files in the ./scripts directory as executable Perl scripts, installed when the module is installed
#:transition help for old-style MakeMaker distributions
#pm_files_href       => { map { $_ => $config{lib_path} . q{\\} . $_ } ( map { glob } qw{ *.pm } ) }	# copy .pm file(s) from the main directory into their logical package location (for an old-style MakeMaker distribution with PM file location in main directory)
#pod_files_href      => { map { $_ => $config{lib_path} . q{\\} . $_ } ( map { glob } qw{ *.pod } ) }	# copy POD file(s) from the main directory into their logical package location (for an old-style MakeMaker distribution with PM file location in main directory)
#xs_files_href       => { map { $_ => $config{lib_path} . q{\\} . $_ } ( map { glob } qw{ *.xs } ) }	# copy .xs file(s) from the main directory into their logical package location (for an old-style MakeMaker distribution with XS file location in main directory)
